@media screen and (min-width: 2080px) {
  .hide_b {
    display: none;
  }
}

@media screen and (max-width: 1750px) {
  .wrapper_in .fix_content .change_width {
    max-width: 1500px !important;
  }

  .wrapper_in .fix_content .state_bodies_list li {
    width: 31%;
  }

  .wrapper_in .fix_content .cal_ser .state_bodies_list li {
    width: 100%;
  }

  .wrapper_in .fix_content .box_shadow_in .state_bodies_list li {
    width: 100%;
  }

  .mitc_map_site_active,
  .map_site_active {
    height: 650px;
  }
  .mitc_map_site_active {
    height: 450px;
  }
}

@media screen and (max-width: 1640px) {
  .wrapper_in .fix_content .change_width {
    max-width: 1400px !important;
  }

  .wrapper_in .fix_content .state_bodies_list li {
    width: 30.9%;
  }

  .wrapper_in .fix_content .map_labels {
    padding: 30px 25px;
  }

  .wrapper_in .fix_content .map_info_list li span {
    width: 150px;
  }

  .wrapper_in .fix_content .map_info_list li i {
    margin-left: 15px;
  }

  .change_width {
    max-width: 1500px !important;
  }

  .slider_main .change_width .form_search {
    width: 600px;
  }
  .suggestion {
    width: 600px;
  }

  .state_bodies_list li {
    width: 31%;
  }
  .all_min_state li {
    width: 100% !important;
  }

  .ser_list li {
    width: 23.9%;
  }

  .left_right_p {
    padding: 50px 70px 30px 70px;
  }

  .first_b,
  .second_b,
  .third_b,
  .fourth_b,
  .fifth_b {
    padding: 0 20px;
  }

  .first_b img,
  .fourth_b img {
    display: none;
  }

  .cal_ser .state_bodies_list li {
    width: 100%;
  }

  .box_shadow .news_list li a span {
    min-width: 40px;
    left: 10px;
  }

  .box_shadow_in .news_list li a {
    padding: 15px 220px 15px 70px;
  }

  .vac_counter {
    width: 70px;
  }

  .box_shadow_in .news_list li p {
    right: 100px;
  }

  .box_shadow_in .news_list li a {
    padding: 15px 190px 15px 70px;
  }

  .min_full_name {
    width: 411px;
    padding-right: 20px;
  }
  .ban_slider_img img {
    width: auto;
    height: auto;
    object-fit: none;
  }
  .mitc_map_site_active,
  .map_site_active {
    height: 600px;
  }
  .mitc_map_site_active {
    height: 500px;
  }
}
@media screen and (max-width: 1550px) {
  .wrapper_in .fix_content .change_width {
    max-width: 1300px !important;
  }
  .wrapper_in .fix_content .state_bodies_list li {
    width: 30.7%;
  }
  .wrapper_in .fix_content .box_shadow a.all_see {
    display: block;
    float: none;
    top: 0;
    text-align: left;
    margin-bottom: 15px;
  }
  .wrapper_in .fix_content .box_shadow .title {
    margin: 20px 0 10px 0;
  }
  .wrapper_in .fix_content .weather {
    width: 140px;
  }
  .wrapper_in .fix_content .weatherSelect {
    width: 130px;
  }
  .wrapper_in .fix_content .weather_num {
    width: 230px;
    padding-left: 15px;
  }
  .wrapper_in .fix_content .panel-classic > .panel-body,
  .wrapper_in .fix_content a.year_news_b img,
  .wrapper_in .fix_content .rates,
  .wrapper_in .fix_content ul.rates_list {
    height: 100px;
  }
  .sidebar {
    width: 250px;
  }
  .sidebar_list li a {
    padding: 15px 40px 15px 30px;
  }
  .sidebar_list li a::after {
    right: 15px;
  }
  .sidebar {
    width: 250px;
  }
  .sub_menu {
    width: 300px;
  }
  .sub_menu_active {
    left: 250px;
  }
  .sub_sub_menu {
    width: 770px;
    padding: 35px 30px;
  }
  .sub_sub_menu_active {
    left: 550px;
  }
  a.send_appeal_link,
  a.serv_link {
    width: 48.57%;
  }
  .head_menu {
    min-height: 70px;
  }
  .head_menu .navbar-expand-lg .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    height: 70px;
  }
}
@media screen and (max-width: 1520px) {
  .change_width {
    max-width: 1400px !important;
  }
  a.logo p {
    text-transform: none;
    padding: 10px 0 10px 120px;
  }
  .full_width a {
    margin: 0 15px;
  }
  .state_bodies_list li {
    width: 30.9%;
  }
  a.left_sidebar,
  .usefull_link_slider .alice-carousel .alice-carousel__stage li .item a {
    text-transform: none;
  }
  .file_list li a {
    margin: 10px 0 10px 0;
  }
  .function_list li a {
    padding: 15px 20px 15px 80px;
  }
  .function_list li .dropdown .btn.btn-primary {
    white-space: normal;
    text-align: left;
  }
  .government_list li a img {
    right: 20px;
  }
  .left_right_p {
    padding: 50px 50px 30px 50px;
  }
  .footer_logo {
    width: 30%;
  }
  .map_info_list li i {
    width: 250px;
  }
  .min_full_name {
    width: 342px;
  }
  .authority_list li {
    margin: 20px 10px;
  }
  .collapse_deputy_box .d_flex {
    width: calc(96% - 130px);
    margin: 0 0 25px 130px;
  }
  .collapse_deputy_box::before {
    left: 110px;
  }
  .collapse_deputy_box .d_flex .min_full_name {
    width: 66%;
  }
  .mitc_map_site_active,
  .map_site_active {
    height: 550px;
  }
  .mitc_map_site_active {
    height: 450px;
  }
}
@media screen and (max-width: 1450px) {
  .wrapper_in .fix_content .change_width {
    max-width: 100% !important;
    padding-left: 95px !important;
  }
}
@media screen and (max-width: 1420px) {
  .wrapper_in .fix_content .state_bodies_list li {
    width: 31.7%;
  }
  .menu_list li a {
    padding: 19px 11px;
  }
  .change_width {
    max-width: 1300px !important;
  }
  .slider_main .change_width .form_search {
    width: 500px;
  }
  .suggestion {
    width: 500px;
  }
  .state_bodies_list li {
    width: 31.7%;
    margin: 7px 15px;
  }
  .state_bodies_list li:nth-child(3n - 2) {
    margin: 7px 15px 7px 0;
  }
  .state_bodies_list li:nth-child(3n + 0) {
    margin: 7px 0 7px 15px;
  }
  .full_width a {
    margin: 0 10px;
  }
  .ser_list li {
    width: 23.8%;
  }
  .news_img {
    height: 240px;
  }
  .first_b,
  .second_b,
  .third_b,
  .fourth_b,
  .fifth_b {
    padding: 0 15px;
  }
  .contact_b {
    padding: 15px 10px;
  }
  .function_list li a,
  .government_list li a,
  .state_bodies_list li a,
  .life_sit_list li a,
  .title {
    text-transform: none;
  }
  .ser_list li a {
    padding: 15px 20px 15px 85px;
  }
  .left_right_p {
    padding: 50px 0 30px 0;
  }
  .footer_menu li {
    padding: 7px 25px;
  }
  .min_full_name {
    width: 266px;
  }
  .box_shadow_in .news_list li a {
    -webkit-line-clamp: 3;
    padding: 15px 80px 15px 60px;
  }
  .box_shadow_in .news_list li p {
    position: relative;
    top: 0;
    right: 0;
    transform: translateY(0);
  }
  .map_labels {
    padding: 30px 25px;
  }
  .map_info_list li i {
    margin-left: 25px;
  }
}
@media screen and (max-width: 1350px) {
  .wrapper_in .fix_content .state_bodies_list li {
    width: 31.6%;
  }
  .sidebar_list li a {
    text-transform: none;
    padding: 15px 30px 15px 20px;
  }
  .sidebar_list li a::after {
    right: 7px;
  }
  .sidebar {
    width: 200px;
  }
  .sub_menu_active {
    left: 200px;
  }
  .sub_menu {
    width: 250px;
  }
  .sub_sub_menu {
    width: 660px;
    padding: 35px 20px;
  }
  .sub_sub_menu_active {
    left: 450px;
  }
  .sidebar_table tbody tr td {
    padding: 14px 15px;
  }
  a.send_appeal_link,
  a.serv_link {
    width: 48.3%;
  }
  .head_menu .navbar-expand-lg .navbar-nav .nav-link {
    padding: 19px 10px;
  }
  .hotlines p,
  .hotlines a {
    text-transform: none;
  }
  .asian_slider{
    width: 95% !important;
  }
}
@media screen and (max-width: 1320px) {
  .wrapper_in .fix_content .change_width {
    /*max-width: auto !important;*/
  }
  .change_width {
    /*max-width: auto !important;*/
  }
  .left_right_b {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .fifth_b a {
    margin-bottom: 15px;
  }
  .d_flex {
    display: block;
  }
  .min_full_name {
    display: block;
    width: 100%;
    padding-right: 0;
  }
  .min_list {
    width: 100%;
  }
  .min_list li {
    display: inline-block;
    margin: 5px 15px 5px 0;
    padding: 0 10px 0 0;
  }
  .min_list li.list_veb_site a {
    display: inline-block;
    margin-right: 10px;
  }
  .usefull_link_slider .alice-carousel .alice-carousel__stage li .item a {
    padding: 15px 20px 15px 160px;
  }
  .collapse_deputy_box .d_flex {
    display: flex;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper_in .fix_content .state_bodies_list li {
    width: 32%;
  }
  .wrapper_in .fix_content .map_labels {
    padding: 25px 15px;
  }
  .wrapper_in .fix_content .map_info_list li span {
    width: 145px;
  }
  a.logo .left_gerb {
    margin-right: 15px;
  }
  a.left_sidebar {
    display: inline-block;
    padding: 15px 0 15px 20px;
  }
  a.logo p {
    padding: 10px 0 10px 105px;
  }
  .form_search {
    width: 82%;
  }
  .function_list li a span {
    left: 15px;
  }
  .function_list li a {
    padding: 15px 20px 15px 70px;
  }
  .state_bodies_list li {
    width: 32.1%;
    margin: 7px 10px;
  }
  .state_bodies_list li:nth-child(3n - 2) {
    margin: 7px 10px 7px 0;
  }
  .state_bodies_list li:nth-child(3n + 0) {
    margin: 7px 0 7px 10px;
  }
  .ser_list li {
    width: 23.7%;
  }
  .footer_logo {
    width: 38%;
  }
  .news_img {
    height: 220px;
  }
  .authority_list li {
    vertical-align: top;
    margin: 20px 8px;
  }
}
@media screen and (max-width: 1240px) {
  .wrapper_in .fix_content .weather {
    width: 120px;
    padding: 0px 20px 10px 0;
  }
  .wrapper_in .fix_content .weatherSelect {
    width: 110px;
  }
  .wrapper_in .fix_content .weather_num {
    font-size: 32px;
  }
  .header,
  a.left_sidebar {
    height: 140px;
  }
  .map_info_list li span {
    padding: 10px 10px 10px 0;
  }
  .map_info_list li i {
    margin-left: 15px;
  }
}
@media screen and (max-width: 1199px) {
  .head_menu .navbar-expand-lg .navbar-nav .nav-link {
    text-transform: none;
  }
  .wrapper_in .fix_content .map_info_list li span {
    width: 100%;
  }
  .wrapper_in .fix_content .map_info_list li i {
    margin-left: 0;
  }
  .menu_list li a {
    text-transform: inherit;
    padding: 19px 8px;
  }
  .box_shadow a.all_see {
    display: table;
    float: none;
    top: 0;
    margin: -5px 0 15px auto;
  }
  .ser_list li {
    width: 23.6%;
  }
  .ser_list li a {
    padding: 15px 15px 15px 70px;
  }
  .ser_img {
    left: 15px;
  }
  .rates h1 {
    font-size: 14px;
  }
  .form_search {
    margin-right: 40px;
  }
  .left_border {
    padding-left: 20px !important;
  }
  .social_network {
    padding: 0;
  }
  a.akt_logo {
    width: 80%;
  }
  .lg_width_3.order-lg-last {
    width: 25% !important;
  }
  .lg_width_9.order-lg-first {
    width: 75% !important;
  }
  .map_box {
    margin: 75px 0;
  }
  .user_name {
    margin: 15px 0 10px 0;
  }
  .map_info_list li {
    line-height: 1.2;
  }
  .map_info_list li span {
    width: 100%;
    display: block;
    padding: 5px 0;
    border-right: 0;
  }
  .map_info_list li i {
    width: 100%;
    padding: 5px 0;
    margin-left: 0;
  }
  .hover_box {
    top: 50px;
    right: 20px;
  }
  .collapse_deputy_box .d_flex {
    padding: 20px 20px;
  }
  .collapse_deputy_box .d_flex .ministry_img {
    width: 140px;
    height: 140px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 1140px) {
  .wrapper_in .fix_content .state_bodies_list li {
    width: 31.9%;
  }
  .right_map {
    border-left: 0;
    z-index: 999;
    right: 10px;
    min-height: 140px;
  }

  .mitc_map_site_active,
  .map_site_active {
    position: fixed;
    top: 0;
    height: 100vh;
  }
  .mitc_map_site_active {
    top: auto;
    height: 450px;
  }
  .map_site_active .right_map {
    position: fixed;
    display: table;
  }
  .right_map .change_line.change_line_active span.first_line {
    background-color: #fff;
  }
  .sidebar {
    width: 150px;
  }
  .sub_menu {
    width: 200px;
  }
  .sub_menu_active {
    left: 150px;
  }
  .sub_sub_menu {
    width: 480px;
    padding: 35px 10px;
  }
  .sub_sub_menu_active {
    left: 350px;
  }
  .sidebar_list li a {
    text-transform: none;
    padding: 15px 25px 15px 10px;
  }
  .menu_list li a {
    padding: 19px 7px;
  }
  .media_ch_width {
    width: 45% !important;
  }
  .media_width_ch {
    width: 38.2% !important;
  }
  .header {
    height: 200px;
  }
  .hide_b {
    display: none !important;
  }
  .ch_media_width {
    width: 100% !important;
    text-align: center;
  }
  .government_list li a {
    padding: 15px 20px 15px 72px;
  }
  .government_list li a span {
    left: 5px;
  }
  .search_b {
    height: 25%;
  }
  .white_bg {
    padding: 50px 25px;
  }
  .footer_flex {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1100px) {
  .header_fixed_left.header_fixed_left_in {
    display: none !important;
  }
  .change_z_index.rs-affix {
    display: none !important;
    position: relative !important;
    top: auto !important;
    width: auto !important;
    height: auto !important;
  }
  .change_z_index.rs-affix div:nth-of-type(2) {
    display: none !important;
  }
  .wrapper_in .fix_content .change_width {
    padding-left: 15px !important;
  }
  .wrapper_in .fix_content .cal_ser .state_bodies_list li {
    width: 100%;
  }
  .wrapper_in .fix_content .panel-classic > .panel-body,
  .wrapper_in .fix_content a.year_news_b img,
  .wrapper_in .fix_content .rates,
  .wrapper_in .fix_content ul.rates_list {
    height: 110px;
  }
  .head_menu {
    display: block;
    min-height: auto;
    text-align: center;
    padding: 0;
  }
  .head_menu .navbar-expand-lg .navbar-nav {
    display: block;
  }
  .head_menu .navbar-expand-lg .navbar-nav .nav-item,
  .head_menu .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-flex;
  }
  .head_menu .navbar-expand-lg .navbar-nav .nav-link {
    height: 50px;
    padding: 10px 10px;
  }
  a.akt_logo {
    width: 88%;
  }
  .slider_main .change_width .form_search {
    width: 400px;
  }
  .suggestion {
    width: 400px;
  }
  .function_list {
    text-align: center;
  }
  .function_list li {
    width: 33%;
    text-align: left;
  }
  .ser_list {
    text-align: center;
  }
  .ser_list li {
    width: 32%;
    text-align: left;
  }
  .ser_list li:nth-child(4n + 0) {
    margin: 10px 10px 10px 10px;
  }
  .ser_list li:nth-child(3n + 0) {
    margin: 10px 0 10px 10px !important;
  }
  .ser_list li:nth-child(4n - 3) {
    margin: 10px 10px 10px 10px;
  }
  .ser_list li:nth-child(3n - 2) {
    margin: 10px 10px 10px 0 !important;
  }
  .ser_list li:last-child {
    margin: 10px 10px 10px 10px;
  }
  .state_bodies_list li {
    width: 32%;
  }
  .news_list li {
    min-height: 60px;
  }
  .news_img {
    height: 190px;
  }
  a.left_sidebar {
    padding: 15px 0 15px 15px;
  }
  .cal_ser .state_bodies_list li,
  .box_shadow .news_list.cal_ser_list li {
    width: 100%;
  }
  .cal_ser .state_bodies_list li a {
    height: auto;
  }
  .box_shadow .news_list.cal_ser_list li span {
    min-width: 70px;
    height: 70px;
  }
  .box_shadow .news_list.cal_ser_list li {
    min-height: auto;
  }
  .box_shadow .news_list.cal_ser_list li:nth-of-type(2n - 1),
  .box_shadow .news_list.cal_ser_list li:nth-of-type(2n + 0) {
    padding: 0;
  }
  .footer_flex {
    width: 100%;
  }
  a.akt_logo {
    text-transform: inherit;
    padding-right: 15px;
  }
  .right_menu_list li a::before {
    left: 15px;
  }
  .right_menu_list li a {
    padding: 12px 20px 12px 40px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper_in .fix_content .state_bodies_list li {
    width: 48%;
  }
  a.akt_logo {
    width: 100%;
  }
  .menu_list li a:hover {
    background-color: transparent;
    text-decoration: underline;
  }
  a.left_sidebar {
    padding: 15px 65px 15px 15px;
    height: auto;
  }
  .ser_list li {
    width: 31.8%;
  }
  .state_bodies_list {
    text-align: center;
  }
  .state_bodies_list li {
    width: 48%;
    text-align: left;
  }
  .state_bodies_list li:nth-child(2n + 0) {
    margin: 7px 0 7px 10px;
  }
  .state_bodies_list li:nth-child(2n - 1) {
    margin: 7px 10px 7px 0;
  }
  .left_right_p {
    display: none !important;
  }
  .width_ch_media {
    width: 30% !important;
  }
  .media_width_ch,
  .box_shadow_in .news_list li a span {
    display: none !important;
  }
  .media_ch_width {
    width: 66% !important;
  }
  .box_shadow_in .news_list li a {
    padding: 15px 80px 15px 20px;
  }
  .footer_menu li {
    border-left: none;
  }
  .footer_flex {
    width: auto;
    padding: 0;
  }
  .right_map {
    min-height: 100px;
  }
}
@media screen and (max-width: 991px) {
  .head_menu .collapse:not(.show) {
    display: block !important;
  }
  .slider_title {
    text-transform: none;
  }
  .slider_main .change_width {
    position: absolute;
    width: 100%;
    top: 0;
    left: auto;
    transform: translate(0);
    margin-top: 30px;
  }
  .form_search {
    width: 100%;
    float: none;
    margin: 0;
  }
  .description {
    width: 72%;
    top: auto;
    bottom: 0;
    transform: translateY(0);
    transform: translateX(-50%);
  }
  .slider_main .change_width .form_search {
    position: relative;
    top: 0;
    transform: translateY(0);
    width: 72%;
    float: none;
    display: table;
    margin: 0 auto;
  }
  .suggestion {
    width: 72%;
  }
  .ser_list li {
    width: 31.5%;
  }
  .left_right_b::before,
  .left_right_b::after {
    display: none;
  }
  .pad_has {
    width: 49.5% !important;
  }
  .pad_has:nth-of-type(2) {
    padding: 0 0 0 25px !important;
  }
  .pad_has:nth-of-type(3) {
    display: table;
    margin: 0 auto;
    padding: 0 15px !important;
  }
  .contact_b {
    display: block;
  }
  .first_b,
  .second_b,
  .third_b,
  .fourth_b,
  .fifth_b {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    min-height: 110px;
    text-align: center;
    margin-bottom: 15px;
  }
  .third_b {
    border-right: none;
  }
  .tab_b .nav-tabs .nav-item {
    padding: 10px 15px;
  }
  .tab_b .nav-tabs .nav-item:first-child {
    padding: 10px 15px 10px 0;
  }
  .news_box {
    margin-bottom: 15px;
  }
  .news_img {
    height: 220px;
  }
  .footer_logo {
    width: 48%;
  }
  .inner_title {
    text-transform: none;
  }
  .cab_min_list {
    padding: 0 0 0 25px;
  }
  .function_list {
    margin: 50px 0 50px 0;
  }
  .full_width {
    background-color: rgb(4 59 135);
  }
  .useful_list li a {
    text-transform: inherit;
    padding: 10px 0 10px 85px;
  }
  .social_network {
    text-align: center;
  }
  .lg_width_3.order-lg-last {
    width: 100% !important;
  }
  .lg_width_9.order-lg-first {
    width: 100% !important;
  }
  .right_menu_b {
    min-height: auto;
    margin: 30px 0 0 0;
  }
  .right_menu_list li {
    width: 25%;
    display: inline-block;
    vertical-align: top;
  }
  .government_list {
    text-align: center;
  }
  .government_list li {
    width: 25%;
    text-align: left;
  }
  .map_labels {
    width: 72%;
    margin: 30px auto 0 auto;
  }
  .map_title {
    text-transform: none;
  }
  .usefull_link_slider {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .government_list li {
    width: 33%;
  }
  .collapse_b_active .government_list {
    height: 252px;
  }
  .feedback_form {
    width: 100%;
  }
  .footer_logo {
    width: 58%;
  }
  /* .slider_main .alice-carousel__stage .alice-carousel__stage-item{
        height: auto;
    } */
  .right_menu_list li {
    width: 33%;
  }
}
@media screen and (max-width: 850px) {
  .tab_b .nav-tabs .nav-item {
    padding: 10px 10px;
  }
  .tab_b .nav-tabs .nav-item:first-child {
    padding: 10px 10px 10px 0;
  }
  .btn.sub_menu_close {
    display: inline-block;
  }

  .sub_menu {
    padding: 50px 0;
  }

  .sub_menu_active {
    left: 0;
    z-index: 4 !important;
  }

  .sub_sub_menu_active {
    left: 200px;
  }

  .sidebar_table tbody tr td:last-child a.link_website {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .wrapper_in .fix_content .state_bodies_list li a {
  }
  a.akt_logo {
    padding-right: 0;
  }
  .hotlines {
    display: table;
    width: 50%;
    margin: 15px auto;
    float: none;
  }
  .ser_list li {
    width: 48.2%;
  }
  .ser_list li:nth-child(3n + 0) {
    margin: 10px 10px 10px 10px;
  }
  .ser_list li:nth-child(2n + 0) {
    margin: 10px 0 10px 10px !important;
  }
  .ser_list li:nth-child(3n - 2) {
    margin: 10px 10px 10px 10px;
  }
  .ser_list li:nth-child(2n - 1) {
    margin: 10px 10px 10px 0 !important;
  }
  .life_sit_list li {
    width: 50%;
  }
  .government_list li {
    width: 50%;
  }
  .pad_has:nth-of-type(1) {
    padding: 0 15px 0 0 !important;
  }
  .pad_has:nth-of-type(2) {
    padding: 0 0 0 15px !important;
  }
  .tab_b .nav-tabs .nav-item .nav-link {
    text-transform: none;
  }
  .news_img {
    height: 200px;
  }
  a.news_link {
    display: block;
    height: 90px;
  }
  a.news_link span {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  a.news_link span i {
    margin-right: 10px;
  }
  .d_flex {
    padding: 25px 25px;
  }
  .job_pos {
    padding: 0 25px 25px 25px;
  }
  .slider_main {
    height: 320px;
  }

  .slider_main .alice-carousel__stage .alice-carousel__stage-item::before {
    display: none;
  }

  .slider_main .form_search .full_width {
    padding: 10px 0;
  }

  .slider_main .form_search .full_width a {
    line-height: 1.5;
  }

  .slider_main .alice-carousel__stage .alice-carousel__stage-item .item .description {
    top: 50%;
    bottom: auto;
  }

  .slider_main .alice-carousel__stage .alice-carousel__stage-item .item .description .slider_list {
    display: none;
  }

  .slider_main .alice-carousel__prev-btn-item {
    left: 20px;
  }

  .slider_main .alice-carousel__next-btn-item {
    right: 20px !important;
  }

  .box_shadow .news_list.cal_ser_list li a {
    -webkit-line-clamp: inherit;
  }
  .useful_list li {
    width: 45.4%;
    margin: 10px 10px;
  }
  .left_border {
    padding: 25px 15px 15px 15px !important;
    text-align: center;
  }
  .all_news_b a.news_link {
    height: 60px;
  }
  .footer_flex .year_text {
    text-align: center;
  }
  .authority_list li a {
    text-transform: none;
  }
  .collapse_deputy_box .d_flex {
    width: calc(95% - 72px);
    margin: 0 0 25px 72px;
  }
  .collapse_deputy_box::before {
    left: 52px;
  }
}
@media screen and (max-width: 700px) {
  .wrapper_in .fix_content .state_bodies_list li {
    width: 100%;
    margin: 10px 0 !important;
  }
  .wrapper_in .fix_content .state_bodies_list li a {
    height: auto;
  }
  .width_ch_media {
    position: absolute !important;
    top: 0;
    left: 0;
    width: auto !important;
    padding-left: 0 !important;
  }
  .map_site_active .right_map {
    display: none;
  }
  a.left_sidebar {
    width: 60px;
    padding: 5px;
    height: 60px;
  }
  a.left_sidebar::after {
    bottom: auto;
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
  }
  a.left_sidebar span {
    display: none;
  }
  .search_b {
    background-color: #013d8c;
    width: 60px;
    height: 60px;
    border-left: 0;
  }
  .search_b img {
    filter: brightness(0) invert(1);
  }
  .media_ch_width {
    width: 100% !important;
    padding: 0 100px !important;
    text-align: center;
    margin-top: 50px !important;
  }
  .function_list li {
    width: 50%;
  }
  .first_b,
  .second_b,
  .third_b,
  .fourth_b,
  .fifth_b {
    width: 50%;
  }
  .fifth_b {
    width: 100%;
    min-height: auto;
  }
  .third_b {
    border-right: 1px solid #cccccc;
  }
  .second_b,
  .fourth_b {
    border-right: none;
  }
  .description {
    width: 100%;
  }
  .slider_title i {
    display: inline-block;
    font-size: 24px;
  }
  .slider_main .change_width .form_search {
    width: 100%;
  }
  .slider_list li {
    padding: 10px 25px 10px 25px;
  }
  .suggestion {
    width: 100%;
  }
  .right_menu_list li {
    width: 50%;
  }
  .news_form_search .col {
    flex: auto;
    width: 100% !important;
  }
  .flex_end {
    width: 100% !important;
  }
  .btn.news_search_btn {
    width: 300px;
    margin: 0 auto;
  }
  .btn.news_search_btn img {
    position: relative;
    top: -2px;
    left: 0;
    transform: translate(0, 0);
  }
  .btn.news_search_btn i {
    display: inline-block;
  }
  .footer_logo {
    width: 72%;
  }
  .sub_sub_menu_title {
    width: 50%;
    font-size: 12px;
  }
  .sidebar_table thead tr,
  .sidebar_table tbody tr {
    display: flex;
    flex-direction: column;
  }

  .sidebar_table tbody tr td {
    min-height: max-content;
    font-size: 14px;
    padding: 7px 12px;
  }

  .sidebar_table tbody tr td:first-child {
    width: 90%;
  }

  .sidebar_table tbody tr td:last-child {
    width: 90%;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .sidebar_table tbody tr td:last-child a.link_website {
    margin-left: 0;
  }
  .feedback_form .btn.send_btn {
    width: 72%;
  }
  .btn.sub_sub_menu_close {
    display: grid;
  }
  .accordion-body .ministry_box .ministry_img {
    width: 170px;
    height: 170px;
  }
  .collapse_deputy_box .d_flex .ministry_img {
    width: 140px;
    height: 140px;
  }
  .collapse_deputy_box .d_flex {
    width: calc(95% - 52px);
    margin: 0 0 25px 52px;
  }
  .collapse_deputy_box::before {
    left: 32px;
  }
  .right_map {
    min-height: 60px;
  }
  /* .authority_list li{
        vertical-align: top;
        margin: 20px 8px;
    } */
}
@media screen and (max-width: 650px) {
  .note_img {
    float: none;
    width: 100%;
  }
  .authority_list li {
    margin: 20px 5px;
  }
}
@media screen and (max-width: 600px) {
  .header .flex_b {
    align-items: flex-start;
    align-content: flex-start;
  }

  .header .flex_b .logo {
    margin-top: -30px;
  }

  .header .flex_b .time_b {
    display: none;
  }

  .header .flex_b .right_map {
    min-height: auto;
    padding: 5px;
    border: none;
  }
  .hotlines {
    width: 60%;
  }
  .ser_list li {
    width: 48%;
  }
  .state_bodies_list li {
    width: 100%;
    margin: 10px 0 !important;
  }
  .state_bodies_list li a {
    height: auto;
  }
  .state_bodies_list li a span {
    -webkit-line-clamp: inherit;
  }
  .pad_has {
    width: 100% !important;
    padding: 0 !important;
  }
  .pad_has:nth-of-type(1),
  .pad_has:nth-of-type(2),
  .pad_has:nth-of-type(3),
  .fix_content .pad_has:nth-of-type(2) {
    padding: 0 !important;
  }
  .box_shadow .news_list li a,
  .file_list li a {
    -webkit-line-clamp: inherit;
  }
  .cab_min_list {
    padding: 0;
  }
  .function_list {
    margin: 25px 0 50px 0;
  }
  .slider_main {
    height: 290px;
  }
  .inner_title {
    width: 100%;
  }
  .btn.print_btn {
    float: none;
    margin: -10px 0 10px 0;
  }
  .state_sym_img img {
    width: 100%;
  }
  .map_labels {
    width: 100%;
    margin: 30px 0 0 0;
  }
  .hover_box {
    top: 0;
    right: 0;
  }
  .feedbac_b {
    padding: 50px 15px;
  }
  .presidium_text .accordion-button::after {
    right: 15px;
  }
}
@media screen and (max-width: 575px) {
  .header {
    height: 230px;
  }
  .media_ch_width {
    padding: 0 20px !important;
  }
  a.news_link i,
  .news_text_box p,
  .news_list li a,
  .all_news_b a.news_link i {
    -webkit-line-clamp: inherit;
  }
  a.news_link,
  .news_text_box p {
    height: auto;
  }
  .ministry_img {
    display: block;
    float: none;
    margin: 0 auto 20px auto;
    text-align: center;
  }
  a.logo > span {
    display: block;
    position: relative;
    top: 0;
    transform: translateY(0);
  }
  a.logo p {
    padding: 10px 0;
    text-align: center;
  }
  .all_news_b a.news_link {
    height: auto;
  }
  .collapse_deputy_box::before {
    display: none;
  }
  .collapse_deputy_box .d_flex {
    display: block;
    width: 94%;
    padding: 20px 10px;
    margin: 0 auto 25px auto;
  }
  .collapse_deputy_box .d_flex .ministry_img {
    margin: 0 auto 20px auto;
  }
  .collapse_deputy_box .d_flex .min_full_name {
    width: 100%;
  }
  .accordion-collapse .min_full_name {
    text-align: center;
  }
  span.deputy_in_b {
    position: relative;
    top: 0;
    right: 0;
    margin: 0 auto 20px auto;
  }
  .min_list {
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .ser_list li {
    width: 47.8%;
  }
  .life_sit_list li a {
    padding: 15px 125px 15px 20px;
  }
  .slider_list li {
    padding: 8px 20px 8px 20px;
  }
  .slider_main {
    height: 320px;
  }
  a.akt_logo {
    padding-right: 0;
  }
  .footer_logo {
    width: 88%;
  }
}
@media screen and (max-width: 500px) {
  .hotlines {
    width: 70%;
  }
  .header {
    height: 320px;
  }
  .function_list li {
    width: 72%;
  }
  .function_list li a {
    height: auto;
    padding: 25px 20px 25px 70px;
  }
  .ser_list li {
    width: 100%;
    margin: 10px 0 !important;
  }
  .ser_list li:nth-child(2n + 0) {
    margin: 10px 0 !important;
  }
  .ser_list li:nth-child(2n - 1) {
    margin: 10px 0 !important;
  }
  .ser_list li a {
    padding: 15px 15px 15px 80px;
  }
  .ser_list li a p {
    -webkit-line-clamp: inherit;
  }
  .life_sit_list {
    text-align: center;
  }
  .life_sit_list li {
    width: 72%;
    text-align: left;
  }
  .government_list li {
    width: 72%;
  }
  .collapse_b_active .government_list {
    height: 679px;
  }
  .news_text_box {
    display: block;
    width: 100%;
    margin: 0;
  }
  .footer_menu li {
    padding: 7px 15px;
  }
  .footer_menu li a {
    text-transform: none;
  }
  .white_bg {
    padding: 50px 15px;
  }
  .d_flex {
    padding: 20px 15px;
  }
  .job_pos {
    padding: 0 15px 20px 15px;
  }
  .usefull_link_slider .alice-carousel .alice-carousel__stage li a img {
    display: none;
  }
  .usefull_link_slider .alice-carousel .alice-carousel__stage li .item a {
    padding: 15px 30px 15px 30px;
    justify-content: center;
    text-align: center;
  }
  .useful_list li {
    width: 72%;
    margin: 10px 0;
  }
  .right_menu_list li {
    width: 100%;
  }
  .accordion .accordion-item .accordion-header .accordion-button {
    text-transform: inherit;
  }
  .collapse_deputy_box .d_flex {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 450px) {
  .hotlines {
    width: 72%;
  }
  .time_b {
    display: block;
  }
  .first_b,
  .second_b,
  .third_b,
  .fourth_b,
  .fifth_b {
    width: 100%;
    min-height: auto;
    border-right: none;
  }
  a.appeal_send_link {
    width: 240px;
    text-transform: none;
  }
  .footer_logo {
    width: 100%;
  }
  .hover_box {
    top: -50px;
  }
  .feedback_form .btn_box {
    width: 100%;
    text-align: left;
  }
  .feedback_form .btn.send_btn {
    width: 100%;
  }
  .form_width {
    width: 100%;
  }
  .form_width input {
    display: inline-block !important;
    width: 60% !important;
  }
  /* .authority_list li{
        width: 42px;
        margin: 20px 5px;
    } */
}
@media screen and (max-width: 400px) {
  .hotlines {
    width: 90%;
  }
  .government_list li {
    width: 100%;
  }
  .function_list li,
  .life_sit_list li {
    width: 100%;
  }
  .fifth_b a {
    margin: 0 7px 15px 7px;
  }
  .useful_list li {
    width: 100%;
  }
  a.akt_logo {
    display: block;
    text-align: center;
  }
  a.akt_logo span {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  a.akt_logo svg {
    margin-right: 0;
  }
  .footer_b a.akt_logo {
    width: 100%;
  }
  .footer_logo a {
    text-transform: none;
  }
  .authority_list li {
    width: 100%;
    margin: 20px 0;
  }
  .authority_list li:nth-of-type(5),
  .authority_list li:nth-of-type(6) {
    width: 100%;
  }
  .authority_list li:nth-of-type(2) a,
  .authority_list li:nth-of-type(3) a,
  .authority_list li:nth-of-type(4) a {
    background-color: #3876c7;
  }
  .authority_list li:nth-of-type(5) a,
  .authority_list li:nth-of-type(6) a {
    background-color: #224a80;
  }
  .accordion .accordion-item .accordion-header .accordion-button {
    padding: 15px 40px 15px 20px;
  }
  .presidium_text .accordion-button::after {
    right: 12px;
  }
}
@media screen and (max-width: 350px) {
  .btn.news_search_btn {
    width: 100%;
  }
  .state_sym_img img {
    width: 100%;
  }
}
@media print {
  body * {
    visibility: hidden;
  }

  .print,
  .print * {
    visibility: visible;
  }

  .print {
    position: absolute;
    left: 0;
    top: -220px;
    transform: scale(0.7);
  }
}
